<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/asserts/js/bootstrap-3.3.0/css/bootstrap.min.css" th:href="@{/asserts/js/bootstrap-3.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/asserts/js/bootstrap-3.3.0/css/bootstrap-theme.min.css" th:href="@{/asserts/js/bootstrap-3.3.0/css/bootstrap-theme.min.css}" type="text/css">

</div>
